/* HEADER */

a {
  color: rgb(17, 17, 17);
  text-decoration: none;
}

.header-container {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center; 
  margin: 2% 4%;
}

.logo {
  width: 80%;
}

.horizontal-line {
  border-top: 1px solid grey;
  grid-column: 2;
}


/* HOME PAGE */

.toppage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90% 10%;
  padding: 0 4%;
  margin-bottom: 8%;
  margin-top: 2%;
}

.col-title {
  align-self: end;
  grid-row: 1 / span 2;
  font-family: 'Lora';
  letter-spacing: 0.1em;
  width: 100%;
  font-size: 2.5em;
  padding-bottom: 4%;
}

.contact {
  font-size: 0.41em;
  font-family: 'Open Sans';
  letter-spacing: 0.14em;
  font-weight: 400;
  margin-top: 1.3%;
  margin-bottom: 3.5%;
}

.emailTag {
  font-size: 0.4em;
  font-family: 'Open Sans';
  font-weight: bold;
  margin-top: -3%;
  letter-spacing: 0.17em;
}

.collections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8em;
}

.website-link {
  grid-column: 1 / span 2;
  justify-self: flex-end;
  margin-right: 10vw;
  font-family: 'Open Sans';
  font-size: 1em;
  padding: 1% 3%;
  background: none;
  border: 0.5px solid rgb(188, 188, 188);
}

.website-link:hover {
  background: rgb(233, 232, 229);
  border: none;
}

.home-imgs {
  width: 100%; 
  max-height: 28vh;
  object-fit: cover;
  object-position: 60% 30%;
  margin-bottom: -1%;
}

.home-imgs:hover {
  opacity: 80%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.col-names {
  font-family: 'Open Sans';
  font-size: 1.2vw;
  font-weight: 400;
  text-decoration: underline;
}


/* PRODUCT PAGES */

.productpage-container {
  display: grid;
  grid-template-columns: 40% 25% 35%;
  padding: 3% 4.6%;
  gap: 1vw;
  margin-bottom: 4%;
  margin-top: -2%;
}

.coll-mock-img {
  width: 22vw;

}

.product-video video {
  width: 100%;
  height: auto
}

.product-details {
  align-self: self-end;
  text-align: right;
  font-family: 'Open Sans';
  max-width: 90%; 
  margin-right: 4%;
}

.coll-title {
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 1.5vw;
  letter-spacing: 0.1em;
}

.item-description {
  font-size: 1vw;
  padding-left: 20%;
  font-weight: 400;
}

.item-material-one {
  font-size: 0.8vw;
}

.item-material-two {
  font-size: 0.8vw;
  padding-left: 40%;
}

.arrow-container {
  display: flex;
  gap: 1%;
  font-family:'Open Sans';
  justify-content: end;
  margin-right: 4%;
  align-items: center;
  margin-top: -1.5vw;
  color:rgb(176, 175, 175);
} 

.backarrow {
  max-width: 45px;
  height: auto;
}

.arrow-container:hover {
  color:rgb(109, 105, 105);
}

.back_text {
  font-size: 120%;
}


/* RESPONSIVENESS */

@media all and (max-width: 600px) {

  a {
    text-decoration: none;
  }

  .header-container {
    grid-template-columns: 60% 40%;
    align-items: center; 
    margin: 2% 4%;
  }

  .logo {
      width: 90%; 
      padding: 2.6% 5% 0 0;
   }
  
   .line {
       padding: 0% 5% 1% 0;
   }
   

  /* MAIN PAGE */

   .toppage-container {
       grid-template-columns: 1fr;
       grid-template-rows: 20% 75% 5%;
       gap: 0.3%;
       margin: 0 3.2%;
       margin-bottom: 2rem;
   }
   
   .col-title {
      grid-row: 1 / span 1;
   }
   
   .contact {
       letter-spacing: 0.11em;
       margin-top: 5%;
       margin-bottom: 7%;
       white-space: nowrap;
   }
   
   .emailTag {
       font-size: 0.4em;
       margin-top: -7%;
       letter-spacing: 0.2em;
   }
   
   .collections-grid {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       margin-bottom: 4%;
   }
   
   .website-link {
       grid-column: 1 / span 1;
       grid-row: 4 / span 1;
       margin-top: 2%;
   }

   .col-names {
       font-size: 4vw;
       margin-bottom: 7%;
   }

   .empty-space {
    height: 3.5rem;
   }


  /* PRODUCT PAGES */
  
  .productpage-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 40% 25% 35%;
  }

  .product-video {
      grid-column: 1 / span 2;
  }

  .product-img {
      grid-column: 2;
      margin-top: 10%;
  }

  .coll-mock-img {
      width: 60vw;
  }

  .product-details {
      align-self: start;
      max-width: 100%; 
      grid-row: 2 / span 1;
      grid-column: 1 / span 2;
      margin-top: 15%;
  }

  .coll-title {   
      font-size: 4.2vw;
      line-height: 4vw;
      letter-spacing: 0.5;
  }
  
  .item-description {
      font-size: 3.5vw;
      margin-top: 3%;
      margin-bottom: 0;
  }
  
  .item-material-one {
      font-size: 3vw;
  }
  
  .item-material-two {
      font-size: 3vw;
  }
  
  .backarrow {
      max-width: 21px;
      height: auto;
  }
  
  .back_text {
      font-size: 80%;
  }

  .arrow-container {
      margin-top: -10px;
  } 

}
